verif/transcript
verif/wlftqj617i
verif/wlftr5yt79
verif/transcript
verif/work/_lib1_0.qtl
verif/Projeto-1-IH.mpf
verif/transcript
verif/wlftrw26w9
verif/work/_info
verif/work/_lib.qdb
verif/work/_lib1_0.qdb
verif/work/_lib1_0.qpg
verif/work/_lib1_0.qtl
verif/transcript
verif/wlftd1sxn0
